.temp {
    background-color: darkorange;
    height: 150px;
    width: 100%;
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;

    div {
        border: 1px solid green;
        height: 100%;
        width: 50%;
    }
}