<div class="editor" cdkDropList #blueEditor  #mainEditor="cdkDropList">
    <!-- <container-two-bloc cdkDrag></container-two-bloc> -->
    <ng-container #insertPoint>
    </ng-container>
</div>

<div class="placeHolder">
    <div class="dragebleContainers" cdkDropList #mainContainer="cdkDropList" [cdkDropListConnectedTo]="mainEditor">

        <div class="dragebles" cdkDrag (cdkDragDropped)="addImage()" (cdkDragEntered)="onDragEntered($event)">
            <div *cdkDragPlaceholder>
                <div class="custom-placeholder" *ngIf="isGoodContainer"></div>
            </div>

            <p>Cat Image</p>
        </div>

    </div>


    <div class="elements" cdkDropList [cdkDropListConnectedTo]="mainEditor">
        <div class="dragebles" cdkDrag (cdkDragDropped)="addContainer_2_blocs($event)">
            <p>Container<br>2 blocs</p>

        </div>


        <div class="dragebles">
            <p>Container<br>3 blocs</p>

        </div>
    </div>
</div>


<ng-template #containerTwoBlocTemplate>
    <container-two-bloc cdkDrag></container-two-bloc>
    <!-- <div class="temp" cdkDrag>
        <div>
            
        </div>
        <div>

        </div>
    </div> -->
</ng-template>


