.container{
    min-height: 250px;
    background-color: #8da4c9;
    border: 1px solid black;
    display: flex;
    margin-bottom: 10px;
    div{
        // background-color: antiquewhite;
        width: 50%;
        height: auto;
        &:first-child{
            border-right: 1px solid blueviolet;
        }
    }
}